:root {
  --bg-col: #1c1c1c;
  --font-col: #eeeeee;
}
body {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg-col);
  color: var(--font-col);
}
/* general */
a {
  text-decoration: none;
  color: #678fff;
}
.btn-default {
  display: block;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  height: 43px;
  min-height: 44px;
  margin: 20px auto;
  background-color: #678fff;
  border-color: #678fff;
  border-width: 0;
  border-radius: 10px;
  color: #e5e5e5;
  padding: 2px 1.5rem;
}
/* header icons */
.header-icons {
  display: flex;
  justify-content: flex-end;
  background: var(--bg-col);
}
.header-icons ul {
}
.header-icons li {
  display: inline-block;
}
.header-icons i {
  color: #ccc;
}
.fa-bullhorn::after {
  content: "ᐯ";
}
/* search section */
.search-section {
  background: var(--bg-col);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-form {
  max-width: 665px;
}
.search-form input {
  font-size: 1.1rem;
  height: 45px;
  background-color: #333333;
  border: 0px none;
  color: #eeeeee;
  outline: none;
}
.search-bar {
  display: inline-block;
  box-sizing: border-box;
  width: 600px;
  padding-left: 20px;
  box-shadow: 1px 1px 1px 1px #141414;
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.btn-search-bar {
  display: inline-block;
  width: 55px;
  height: 100%;
  position: relative;
  border: none;
  top: 2px;
  left: -5px;
  border-radius: 0 3px 3px 0;
  background-color: #333333;
  color: #eeeeee;
  font-size: 1.3rem;
}
.btn-search-bar:hover {
  background-color: #444444;
}
.btn-search-bar:active {
  background-color: #222222;
}
/* product info section */
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-info h2 {
  font-weight: 800;
  padding: 0 0 5px;
  font-size: 2rem;
  line-height: 44px;
  text-align: center;
}
.product-info p {
  font-size: 1.1rem;
  line-height: 28px;
}
.product-info-spans {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 28px;
}
.product-info-spans span {
  display: inline-block;
  margin: 10px 20px;
}
.product-info-spans span::before {
  display: inline-block;
  box-sizing: border-box;
  content: "✓";
  font-size: 0.9rem;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #678fff;
  position: relative;
  right: 5px;
  line-height: 18px;
  padding-left: 3px;
}
.product-info a {
  color: #eeeeee;
}
.product-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  width: 63px;
  overflow-x: hidden;
  margin-right: 20px;
}
.rating {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
}
/* privacy info section*/
.privacy-info h2 {
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  font-size: 1.05rem;
  position: relative;
  top: 180px;
}
.privacy-info-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
  min-height: 322px;
  margin: 0 auto;
}
.privacy-info-box {
  position: relative;
  top: 225px;
  width: 332px;
  min-height: 322px;
  background-color: #282828;
  border-radius: 18px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 0 12px;
}
.privacy-info-box img {
  box-sizing: content-box;
  display: block;
  width: auto;
  margin: 20px 20px 32px;
  min-height: 72px;
  max-height: 72px;
  margin: 20px auto 0;
  vertical-align: baseline;
}
.privacy-info-box h3 {
  font-weight: 800;
  font-size: 1.4rem;
  width: 100%;
  line-height: 27px;
  margin: 25px 0 6px;
}
.privacy-info-box p {
  font-size: 1rem;
  line-height: 24px;
  width: 100%;
  text-align: center;
}
/* info info section */
.information-info {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-color: #58b792;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 75% 75% 0 0 / 5% 5% 0 0;
}

.information-info h2 {
  width: 50%;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 15px;
}
.information-info p {
  width: 35%;
  font-size: 1.3rem;
  line-height: 1.7rem;
  padding: 0 0.25rem;
}
.information-info img {
  max-width: 890px;
  height: auto;
}
.btn-info-info {
  background-color: #356e58;
}
.btn-info-info:hover {
  background-color: #2c5b48;
}

/* question section */
.question-section {
  background: var(--bg-col);
  color: var(--font-col);
  max-width: 780px;
  margin: 100px auto 40px;
}
.question-section h2 {
  font-size: 2rem;
  margin: 50px 0;
  text-align: center;
  line-height: 2rem;
  font-weight: 800;
}
.question {
  border-top: 1px solid #e5e5e5;
  padding-left: 50px;
}
.question h3 {
  font-size: 1.3rem;
  line-height: 25px;
  font-weight: 600;
  padding: 25px 0;
}
.question h3::before {
  display: inline-block;
  box-sizing: border-box;
  content: "ˆ"; /*ˇ*/
  font-size: 35px;
  font-weight: 100;
  position: relative;
  line-height: 20px;
  right: 50px;
  top: 18px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e5e5e5;
  color: #767782;
  padding: 12px 0 0 5px;
}
.question p {
  padding: 0.25rem 0 30px;
  line-height: 27px;
  letter-spacing: -0.07px;
}
