:root {
  --bg-col: #1c1c1c;
  --font-col: #eeeeee;
}
body {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg-col);
  color: var(--font-col);
}
/* header icons */
.header-icons {
  display: flex;
  justify-content: flex-end;
  background: var(--bg-col);
}
.header-icons ul {
}
.header-icons li {
  display: inline-block;
}
.header-icons i {
  color: #ccc;
}
.fa-bullhorn::after {
  content: "ᐯ";
}
/* search section */
.search-section {
  background: var(--bg-col);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-form input {
  font-size: 1.1rem;
  height: 2.5rem;
  background-color: #333333;
  color: #eeeeee;
}
/* privacy info section*/
.privacy-info-wrapper {
  display: flex;
}
.privacy-info-box {
  width: 332px;
  height: 332px;
  background-color: #282828;
  border-radius: 18px;
}

/* question section */
.question-section {
  background: var(--bg-col);
  color: var(--font-col);
}
.question-section h2 {
  font-size: 2rem;
  margin: 50px 0;
  text-align: center;
  line-height: 2rem;
  font-weight: 800;
}
